.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  overflow: scroll;
}

.top-bar {
  display: flex;
  background: -webkit-linear-gradient(left, #0d1116 30%, #164680 60%);
  flex-direction: row !important;
  justify-content: flex-end !important;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
  height: 100%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.separator {
  width: 100%;
  height: 16px;
}

.header-container {
  margin-top: 30px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 25px;
  color: white;
}

.backdrop {
  background-color: #0d1116 !important;
  opacity: 0.7;
  border-radius: 10px;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  margin-left: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.button-flex {
  display: "flex";
  flex-direction: "column";
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #60c657, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.disconnect-wallet-button {
  background: -webkit-linear-gradient(left, #c65757, #e2ba35);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
}

.opensea-button {
  background: -webkit-linear-gradient(left, #60c657, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  display: flex;
}

.opensea-logo {
  width: auto;
  height: 30px;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.button:disabled {
  opacity: 0.5;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
