.top-bar {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-end !important;
  margin-top: 15px;
  margin-right: 15px;
}

.disconnect-wallet-button {
  background: -webkit-linear-gradient(left, #c65757, #e2ba35);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
